body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

.game-stats{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#moves{
    width: 50%;
    text-align: center;
}

#timer{
    width: 50%;
    text-align: center;
}

.grid-container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.card{
    position: relative;
    height: 100px;
    width: 200px;
    margin: 5px;
    transition: all .5s ease;
    transform-style: preserve-3d;
    display: flex;
}

.back, .front{
    position: absolute;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100px;
}

.front{
    background-color: blueviolet;   
}

.back{
    transform: rotateY(180deg);
    background-color: yellow;
}

.flip{
    transform: rotateY(180deg);
}

.match{
    background-color: green;
}

/* MODAL */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.modal-content{
    width: 50%;
    margin: 25% auto;
    text-align: center;
}

